@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.heo {
  height: 100vh;
  background-color: red;
  width: 100%;
}

.text {
  font-family: "EB Garamond", serif;
  font-size: 1.2rem;
  margin: 0 auto;
  border: 2px solid;
}
p {
  overflow: hidden;
  line-height: 1.8;
  font-weight: 500;

}
.line {
  /* clip-path: polygon(0 50%, 100% 50%, 100% 0, 0 0); */
  display: inline-block;
  overflow: hidden;
}


.body {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
