@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.heading-title{
    font-family: 'Lexend', sans-serif;
    font-weight: 500;
    color: white;
}
header{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.subs p{
    font-family: 'Lexend', sans-serif;
    color: white;
    font-size: 12px;
}
.tabs{
    font-family: 'Lexend', sans-serif;
    font-size: 14px;
    display: flex;
    gap: 1.4rem;
    word-spacing: 0.2rem;

}
.tabs p{
    color: #3d3d3d;
    
}
.tabs h6{
    color: #ee79ac
}
.h6-text .word{
    opacity: 0;
}
.bg-text .line{
    margin-bottom: 10px;
    position: relative;
    /* background-color: green; */
}

.bg-text{
    font-family: 'Lexend', sans-serif;
    font-weight: 500;
}
.createddiv{
    position: absolute;
    background-color: red;
    z-index: 999;
    height: 100%;
    width: 100%;
    margin-top:10px ;
    top: 0;
    /* background-color: red; */
}